<div ng-include="'/tamplate/slideshow.html'"></div>
<div class="about">
    <div class="container">
       
                <form  ng-submit="propertySubmit(obk)" >
                       
                        <h3 style="text-align:center">
                                <b>Submit</b> YOUR PROPERTY <br/>
                                <small>According to own way</small>
                            </h3>
                            <div >
                                
                                         <ul class="nav nav-pills nav-stacked">
                                            <li ng-class="{ active: isSet(1) }"  index="0">
                                                <a href ng-click="setTab(1)">STEP-1</a>
                                            </li>
                                            <li ng-class="{ active: isSet(2) }"  index="1">
                                                <a href ng-click="setTab(2)">STEP-2</a>
                                            </li>
                                            <li ng-class="{ active: isSet(3) }" index="2">
                                                <a href ng-click="setTab(3)">STEP-3</a>
                                            </li>
                                            <li ng-class="{ active: isSet(4) }" index="3">
                                                <a href ng-click="setTab(4)">STEP-4</a>
                                            </li>
                                        </ul>
                                
                                        <h4 style="text-align:center">Submit form</h4>
                                <div class="row">
                                        
                                    <div class="col-md-12">
                                        <div class="jumbotron">
                                            <div ng-show="isSet(1)">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!-- <div class="picture">
                                                            <input type="file" name="propertyimage" fileinput="file" filepreview="filepreview" ng-model="obj.propertyimage"/>
                                                            <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
                                                        </div> -->
                                                    </div>
                                                    
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label>Property name <small>(required)</small></label>
                                                            <input name="propertyname" type="text" class="form-control" placeholder="Super villa ..." ng-model="obk.propertyname" required/>{{propertyname}}
                                                        
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Property price <small>(required)</small></label>
                                                            <input name="propertyprice" type="text" className="form-control" ref="propertyprice" id="propertyprice" placeholder="3330000" ng-model="obk.propertyprice" >
                                                        
                                                        </div> 
                                                        <div class="form-group">
                                                            <label>Telephone <small>(empty if you wanna use default phone number)</small></label>
                                                            <input name="phone" type="text" class="form-control" id="phone" min="10" maxLength="10" ref="phone"  placeholder="+632-221-2221" ng-model="obk.phone" >
                                                        </div>
        
                                                        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
                                                    </div>
                                                </div>
                                                <div class="space"></div>
                                                    <div class="pull-right">
                                                        <a href ng-click="setTab(2)" class='btn btn-next btn-primary' id="next" data-toggle="tab">next </a>
                                                    </div>
                                                    
                                            </div>
                                            
                                            <div ng-show="isSet(2)">
                                                <div class="row">
                                                    <div class="col-sm-12"> 
                                                        <div class="form-group">
                                                            <label>Property Description :</label>
                                                            <textarea name="propertydescreption"  class="form-control"  id="propertydescreption" ref="propertydescreption" ng-model="obk.propertydescreption" > </textarea>
                                                            
                                                        </div> 
                                                    </div> 
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Property State :</label>
                                                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your state" ng-model="obk.propertystate" >
                                                                <option>Utter Pradesh</option>
                                                                <option>Delhi</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Property City :</label>
                                                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city" ng-model="obk.propertycity">
                                                                <option>Noida</option>
                                                                <option>Ghaziabad</option>
                                                                <option>Greater Noida</option>
                                                                <option>Delhi Local</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Property Statue  :</label>
                                                            <select id="basic" class="selectpicker show-tick form-control" ng-model="obk.propertystatus" >
                                                                <option> -Status- </option>
                                                                <option>Rent </option>
                                                                <option>Buy</option>
                                                             </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Lease Perioud :</label>
                                                            <select id="basic" class="selectpicker show-tick form-control" ng-model="obk.propertyleaseperioud">
                                                                <option> -Status- </option>
                                                                <option>1 year </option>
                                                                <option>2 year </option>
                                                                <option>3 year</option>  
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label >Min bed :</label>
                                                            <input type="text" class="form-control" ng-model="obk.propertyminbed" />
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label >Property Area  :</label>
                                                            <input type="text" class="form-control" ng-model="obk.propertyarea"/>
                                                        </div> 
                                                    </div> 
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Swimming Pool" ng-model="obk.propertySwimmingpool" /> Swimming Pool
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="2 Stories" ng-model="obk.propertyStories" /> 2 Stories
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Emergency Exit"  ng-model="obk.propertyexit"/> Emergency Exit
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Fire Place" ng-model="obk.propertyrireplace"/> Fire Place 
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Laundry Room" ng-model="obk.propertylaundryroom"/> Laundry Room
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Jog Path" ng-model="obk.propertyJogpath" /> Jog Path
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Ceilings" ng-model="obk.propertyCeilings"/> Ceilings
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="Dual Sinks"  ng-model="obk.propertyDualsink"/> Dual Sinks
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space"></div>
                                                        <div class="pull-right">
                                                            <a href ng-click="setTab(3)" class='btn btn-next btn-primary' id="next" data-toggle="tab">next </a>
                                                        </div>
            
                                                        <div class="pull-left">
                                                            <a href ng-click="setTab(1)" class='btn btn-next btn-primary' id="next"  data-toggle="tab">previous</a>
                                                        </div>
                                                         
                                                     
                                            </div>
                                            <div ng-show="isSet(3)">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!-- <div className="form-group" ng-controller="upload"> -->
                                                            <!-- <label>Chose property image :</label>
                                                             <input class="form-control" type="file" name="file-to-upload" ng-file-select="onFileSelect($files)" ng-model="obj.imageSrc"  > -->
                                                                 <!-- <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc" multiple /> -->
                                                            <!-- <img ng-src="{{obj.imageSrc}}" style= "width:250px; height:200px;" />
                                                        </div> -->
                                                    </div>  
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label>Property video :</label>
                                                            <input type="text" class="form-control" placeholder="http:www.youtube.com, http:vimeo.com" ng-model="obk.propertyVideo1"/>
                                                        </div> 
                
                                                        <div className="form-group">
                                                            <input type="text" class="form-control" placeholder="http:www.youtube.com, http:vimeo.com" ng-model="obk.propertyVideo2"/>
                                                        </div>
        
                                                        <div className="form-group">
                                                            <input type="text" class="form-control" placeholder="http:www.youtube.com, http:vimeo.com" ng-model="obk.propertyVideo3"/>
                                                        </div>
                                                    </div>   
                                                </div>
                                            <div class="space"></div>
                                                <div class="pull-right">
                                                        <a href ng-click="setTab(4)" class='btn btn-next btn-primary' id="next" data-toggle="tab">next </a>
                                                    </div>
        
                                                    <div class="pull-left">
                                                        <a href ng-click="setTab(2)" class='btn btn-next btn-primary' id="next"  data-toggle="tab">previous</a>
                                                    </div>
                                                     
                                            </div>
                                            
                                            <div ng-show="isSet(4)">
                                                <h2 style="text-align:center"> Finished and submit </h2>
                                                <div class="row">  
                                                    <div class="col-sm-12">
                                                        <div class="">
                                                            <p>
                                                                <label><strong>Terms and Conditions</strong></label>
                                                                By accessing or using  GARO ESTATE services, such as 
                                                                posting your property advertisement with your personal 
                                                                information on our website you agree to the
                                                                collection, use and disclosure of your personal information 
                                                                in the legal proper manner
                                                            </p>
        
                                                             <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" ng-model="obk.checkBox"> <strong>Accept termes and conditions.</strong>
                                                                </label>
                                                            </div> 
                                                            <div class="space"></div>
                                                            <div class="pull-right">
                                                                <input type='submit' class='btn btn-next btn-primary' id="finish" name='finish' value='Finish' /> 
                                                            </div>
                                                            <div class="pull-left">
                                                                    <a href ng-click="setTab(3)" class='btn btn-next btn-primary' id="next"  data-toggle="tab">previous</a>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
            </div>
        </div>
        <div ng-include="'/tamplate/footer.html'">
        </div>
        
            
