<div class="banner-down">
        <div class="container">
            <div class="row">
               
                    <form  ng-submit="forgetsignup(obj)">
                 
                        <div class="col-md-4">
                            <h1>Forget password</h1>
                        </div> 
                        <div class="col-md-4">
                            <div class="form-group">
                                    <label for="email"><b>Email</b></label>
                                    <input type="text" placeholder="Enter Email" name="email" ng-model="obj.email" required /> 
                            
                            </div> 
                            <div class="form-group">
                                    <label for="psw"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password" name="pass" ng-model="obj.pass" required />
                            </div>
                            <div class="form-group">
                                    <label for="psw-repeat"><b>Repeat Password</b></label>
                                    <input type="password" placeholder="Repeat Password" name="psw-repeat" ng-model="obj.repeatPass" required />
                            </div>
                        </div> 
                        <div class="col-md-4">
                             <div class="space"></div>
                                <div class="pull-right">
                                    <input type='submit' class='btn btn-next btn-primary' id="finish" name='finish' value='Finish' /> 
                                </div>
                            </div>
                        </div> 
                    </form>
               
            </div>
        </div>
    </div>
    <div ng-include="'/tamplate/footer.html'"></div>